body {
    background-color: #f8f9fa;
}

#titulo {
    font-weight: 300;
}

.card .card-header {
    background-color: #e9ecef;
}

.accordion-button.bg-dark::after {
    filter: invert(1);
}


.admin-card {
  transition: transform .2s ease, box-shadow .2s ease;
  cursor: pointer;
}

.admin-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}