<div class="text-center mb-5 mt-3">
  <img class="logo" src="Img/logo-darpe-lp.png" alt="DARPE Logo" />
</div>

<p class="mb-4 text-muted" style="font-size: 1.05rem">
  Escolha uma das opções abaixo para continuar:
</p>

<div class="grade-escolha">
  <button class="btn btn-dark" onclick="navigateTo(showEscolherLocal)">
    <i class="bi bi-check2-circle"></i>
    Confirmar presença
  </button>

  <button class="btn btn-outline-dark" onclick="verInscritos()">
    <i class="bi bi-people"></i>
    Visualizar inscrições
  </button>

  <button class="btn btn-outline-dark" onclick="navigateTo(abrirTelaCalendarioPublico)">
    <i class="bi bi-calendar3"></i>
    Visualizar calendário
  </button>
</div>
