<div class="row g-4">

    <div class="col-md-4">
        <div class="card shadow-sm admin-card h-100 cursor-pointer" onclick="irParaCrudLocais()">
            <div class="card-body text-center">
                <i class="bi bi-geo-alt fs-1"></i>
                <h5>Locais</h5>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow-sm admin-card" onclick="abrirCrudInstrumentos()">
            <div class="card-body text-center">
                <i class="bi bi-music-note-list fs-1"></i>
                <h5>Instrumentos</h5>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow-sm admin-card" onclick="abrirAdminInscricoes()">
            <div class="card-body text-center">
                <i class="bi bi-journal-text fs-1"></i>
                <h5>Relatórios</h5>
            </div>
        </div>
    </div>

</div>